.bodyindex{
    background-image: url("https://4.bp.blogspot.com/-NusT8_BxXvU/WigtjvJvKLI/AAAAAAABOyg/VP7N3f2xgkAOOU2LPKaVCBdTsMiDJp_EgCK4BGAYYCw/s1600/Web-design.jpg");
    height: 85%;
}
.bodyQ1{
    background-image: url('../img/11433.jpg');    
    height: 85%;
}
html{
    height: 90%;
    

}

.footerMembros{
    margin-top: 40px;
    background-color: rgb(225, 221, 221);
    opacity: 0.8;
}


.bordaCard{
    border-radius: 15px !important;
}

.imgTamanhoCard{
    width: 80%;
    height: 300px;
    border-radius: 10px;
}

.h1index{

    margin-top: 29px;
    padding: 5px;
    background-color: rgb(225, 221, 221);
    opacity: 0.8;
    background-color: aliceblue;
    border-radius: 10px;
    
}

.fullContent{
    width: 99%;
    height: 98%;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 2%;
}
.topo{
    width: 99%;
}   